# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

######
# Default
######
LOCALE = zh-CN
PORT = 3000
SENSOR_ID = 
SENSOR_MODEL = 
SENSOR_GPIO = 4
SENSOR_REPORT_URL = 'https://api.liuyajie.com/sensor_record'

######
# Production
######
NODE_ENV = production

######
# Development
######
NODE_ENV = development
