######
# Default
######
LOCALE = zh-CN
PORT = 3000
SENSOR_ID =
SENSOR_MODEL = 22
SENSOR_GPIO = 4
SENSOR_REPORT_URL = https://api.liuyajie.com/sensor_record
INFLUX_URL = http://localhost:8086/
INFLUX_TOKEN = gru3c0hRVRGMgoy3VyB2z1ivLf63r_40FdOKtZiDAFpHqgghG151nOk3amR-YgiobAiIagSsSeDSLRKWSi1TWQ==
INFLUX_ORG = default
INFLUX_BUCKET = mydb

######
# Production
######
NODE_ENV = production

######
# Testing
######
NODE_ENV = testing

######
# Development
######
NODE_ENV = development
